* {
    color: #000000;

    text-decoration: none;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Prevents horizontal scroll */
    margin: 0;
    padding: 0;
    
    background-color: rgb(255, 255, 255);
}


/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    * {
        color: #ffffff;
    }
  
    html, body {
        background: #1a1a1a;
    }
}

body {
  display: flex;
  flex-direction: column;
}

main {
    flex: 1;
    align-content: center;
    text-align: center;
    height: 100%;
}

.animated-text {
    font-family: 'Roboto Mono', monospace;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.animated-button {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}

.error-text {
    font-family: 'Roboto Mono', monospace;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    padding: 0;
    margin: 0;
}